header {
  text-align: center;
  background-color: #262b42;
  color: #fff
}

.sidebar {
  margin: 15px;
  width: 20%;
}

sidebar {
  width: 20%;
}

li {
  padding: 5px;
  color: #fff;
  font-size: 28px;
  background-color: rgb(33, 36, 52); 
  border-bottom: 1px solid #4c5370;
}

li a, a:hover{
  text-decoration: none;
  color:#fff;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 260px;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #262b42;
  color: #fff;
  transition: all 0.3s;
}

.active {
  background-color: #262b42;
}

main {
  display: flex;
}

.sidebar-header {
  margin-top: 40px;

}